<a href="https://colab.research.google.com/github/LakshmiAhala/DataScience/blob/main/DS_Assign5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
#@title Importing the csv using pandas - Working Model

# Importing pandas
import pandas as pd
import numpy

# Reading the contents of the file
filepath = r"/content/raw_titanic_data.csv";
titanic_data = pd.read_csv(filepath)

# Getting the row count and the coloumn count to doublecheck if all the data has been processed
row_count = len(list(titanic_data.axes[0]))
column_count = len(list(titanic_data.axes[1]))
# print("Row count: " + str(row_count))
# print("Column count: " + str(column_count))

# Printing the data
titanic_data.head()


###AVERAGE FARE###

# Getting a specific coloumn - Fare
fare = pd.read_csv("/content/raw_titanic_data.csv", usecols = ['Fare'])
# print(fare)

# Printing the average fare
print('1) AVERAGE FARE')
print(fare.mean())

###MOST COMMON LAST NAME###

# Split the 'Name' column by the delimiter ','
titanic_data[['Lname', 'Fname']] = titanic_data['Name'].str.split(',', expand=True)

# Calculate the frequency of each last name
last_name_counts = titanic_data['Lname'].value_counts()

# Display the frequency of last names
print('\n2) MOST COMMON LAST NAME')
last_name_counts

1) AVERAGE FARE
Fare    33.295479
dtype: float64

2) MOST COMMON LAST NAME

Lname
Andersson    11
Sage         11
Goodwin       8
Asplund       8
Davies        7
             ..
Milling       1
Maisner       1
Goncalves     1
Campbell      1
Saether       1
Name: count, Length: 875, dtype: int64