<a href="https://colab.research.google.com/github/LakshmiAhala/DataScience/blob/main/DS_Assign6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#@title Importing the csv using pandas

# Importing pandas
import pandas as pd
import numpy

# Reading the contents of the file
filepath = r"/content/raw_titanic_data.csv";
titanic_data = pd.read_csv(filepath)

# Getting the row count and the coloumn count to doublecheck if all the data has been processed
row_count = len(list(titanic_data.axes[0]))
column_count = len(list(titanic_data.axes[1]))
# print("Row count: " + str(row_count))
# print("Column count: " + str(column_count))

# Printing the data
titanic_data.head()

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [ ]:
#@title [1] Retrieve the first 10 rows of the dataset.

# Getting the first 10 lines of titanic_data
titanic_data.head(10)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [ ]:
#@title [2] Display the columns Name, Age, and Survived for passengers with a Pclass value of 1.

# Filtering data for passengers with Pclass = 1
pclass_1_passengers = titanic_data[titanic_data['Pclass'] == 1]

# Selecting the desired columns
selected_columns = pclass_1_passengers[['Name', 'Age', 'Survived']]

# Showing the filtered data
display(selected_columns)

                                                   Name   Age  Survived
1     Cumings, Mrs. John Bradley (Florence Briggs Th...  38.0         1
3          Futrelle, Mrs. Jacques Heath (Lily May Peel)  35.0         1
6                               McCarthy, Mr. Timothy J  54.0         0
11                             Bonnell, Miss. Elizabeth  58.0         1
23                         Sloper, Mr. William Thompson  28.0         1
...                                                 ...   ...       ...
1294                             Carrau, Mr. Jose Pedro  17.0         0
1295                       Frauenthal, Mr. Isaac Gerald  43.0         1
1298                         Widener, Mr. George Dunton  50.0         1
1302    Minahan, Mrs. William Edward (Lillian E Thorpe)  37.0         0
1305                       Oliva y Ocana, Dona. Fermina  39.0         0

[323 rows x 3 columns]

In [ ]:
#@title [3] Find and display all rows where passengers are aged above 60.

# Filtering the Age to find people older than 60
passengers_over_60 = titanic_data[titanic_data['Age'] > 60]

# Showing the filtered data
display(passengers_over_60)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
33,34,0,2,"Wheadon, Mr. Edward H",male,66.0,0,0,C.A. 24579,10.5000,NaN,S
54,55,0,1,"Ostby, Mr. Engelhart Cornelius",male,65.0,0,1,113509,61.9792,B30,C
96,97,0,1,"Goldschmidt, Mr. George B",male,71.0,0,0,PC 17754,34.6542,A5,C
116,117,0,3,"Connors, Mr. Patrick",male,70.5,0,0,370369,7.7500,NaN,Q
170,171,0,1,"Van der hoef, Mr. Wyckoff",male,61.0,0,0,111240,33.5000,B19,S
252,253,0,1,"Stead, Mr. William Thomas",male,62.0,0,0,113514,26.5500,C87,S
275,276,1,1,"Andrews, Miss. Kornelia Theodosia",female,63.0,1,0,13502,77.9583,D7,S
280,281,0,3,"Duane, Mr. Frank",male,65.0,0,0,336439,7.7500,NaN,Q
326,327,0,3,"Nysveen, Mr. Johan Hansen",male,61.0,0,0,345364,6.2375,NaN,S
438,439,0,1,"Fortune, Mr. Mark",male,64.0,1,4,19950,263.0000,C23 C25 C27,S
456,457,0,1,"Millet, Mr. Francis Davis",male,65.0,0,0,13509,26.5500,E38,S
483,484,1,3,"Turkula, Mrs. (Hedwig)",female,63.0,0,0,4134,9.5875,NaN,S
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C
545,546,0,1,"Nicholson, Mr. Arthur Ernest",male,64.0,0,0,693,26.0000,NaN,S
555,556,0,1,"Wright, Mr. George",male,62.0,0,0,113807,26.5500,NaN,S
570,571,1,2,"Harris, Mr. George",male,62.0,0,0,S.W./PP 752,10.5000,NaN,S
625,626,0,1,"Sutton, Mr. Frederick",male,61.0,0,0,36963,32.3208,D50,S
630,631,1,1,"Barkworth, Mr. Algernon Henry Wilson",male,80.0,0,0,27042,30.0000,A23,S
672,673,0,2,"Mitchell, Mr. Henry Michael",male,70.0,0,0,C.A. 24580,10.5000,NaN,S
745,746,0,1,"Crosby, Capt. Edward Gifford",male,70.0,1,1,WE/P 5735,71.0000,B22,S
829,830,1,1,"Stone, Mrs. George Nelson (Martha Evelyn)",female,62.0,0,0,113572,80.0000,B28,NaN
851,852,0,3,"Svensson, Mr. Johan",male,74.0,0,0,347060,7.7750,NaN,S
893,894,1,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
904,905,0,2,"Howard, Mr. Benjamin",male,63.0,1,0,24065,26.0000,NaN,S
972,973,1,1,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S
987,988,1,1,"Cavendish, Mrs. Tyrell William (Julia Florence...",female,76.0,1,0,19877,78.8500,C46,S
1005,1006,1,1,"Straus, Mrs. Isidor (Rosalie Ida Blun)",female,63.0,1,0,PC 17483,221.7792,C55 C57,S
1033,1034,0,1,"Ryerson, Mr. Arthur Larned",male,61.0,1,3,PC 17608,262.3750,B57 B59 B63 B66,C
1043,1044,1,3,"Storey, Mr. Thomas",male,60.5,0,0,3701,NaN,NaN,S
1070,1071,0,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0,0,2,PC 17756,83.1583,E45,C
1084,1085,0,2,"Lingane, Mr. John",male,61.0,0,0,235509,12.3500,NaN,Q
1127,1128,0,1,"Warren, Mr. Frank Manley",male,64.0,1,0,110813,75.2500,D37,C
1196,1197,0,1,"Crosby, Mrs. Edward Gifford (Catherine Elizabe...",female,64.0,1,1,112901,26.5500,B26,S

In [ ]:
#@title [4] Locate the row(s) for the passenger(s) with the maximum fare (Fare)

# Getting the maximum fare
max_fare = titanic_data['Fare'].max()

# Filtering the data to find rows with the maximum fare
passengers_with_max_fare = titanic_data[titanic_data['Fare'] == max_fare]

# Showing the filtered data
display(passengers_with_max_fare)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
1234,1235,0,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C

In [ ]:
#@title [5] Retrieve the Name and Ticket of passengers who embarked from port C (Cherbourg).

# Getting the passengers who embarked at Cherbourg
cherbourg_passengers = titanic_data[titanic_data['Embarked'] == 'C']

# Getting their Name and Ticket
name_ticket = cherbourg_passengers[['Name', 'Ticket']]

# Showing the filtered data
display(name_ticket)

                                                   Name         Ticket
1     Cumings, Mrs. John Bradley (Florence Briggs Th...       PC 17599
9                   Nasser, Mrs. Nicholas (Adele Achem)         237736
19                              Masselmani, Mrs. Fatima           2649
26                              Emir, Mr. Farred Chehab           2631
30                             Uruchurtu, Don. Manuel E       PC 17601
...                                                 ...            ...
1295                       Frauenthal, Mr. Isaac Gerald          17765
1296       Nourney, Mr. Alfred (Baron von Drachstedt")"  SC/PARIS 2166
1298                         Widener, Mr. George Dunton         113503
1305                       Oliva y Ocana, Dona. Fermina       PC 17758
1308                           Peter, Master. Michael J           2668

[270 rows x 2 columns]

In [ ]:
#@title [6] Display the Name, Age, and Cabin for passengers who do not have a cabin assigned (where Cabin is NaN).

# Getting the passengers who have not been assigned a cabin
nocabin_passengers = titanic_data[titanic_data['Cabin'].isnull()]

# Getting their Name, Age, and Cabin
name_age_cabin = nocabin_passengers[['Name', 'Age', 'Cabin']]

# Showing the filtered data
display(name_age_cabin)

                                Name   Age Cabin
0            Braund, Mr. Owen Harris  22.0   NaN
2             Heikkinen, Miss. Laina  26.0   NaN
4           Allen, Mr. William Henry  35.0   NaN
5                   Moran, Mr. James   NaN   NaN
7     Palsson, Master. Gosta Leonard   2.0   NaN
...                              ...   ...   ...
1303  Henriksson, Miss. Jenny Lovisa  28.0   NaN
1304              Spector, Mr. Woolf   NaN   NaN
1306    Saether, Mr. Simon Sivertsen  38.5   NaN
1307             Ware, Mr. Frederick   NaN   NaN
1308        Peter, Master. Michael J   NaN   NaN

[1014 rows x 3 columns]

In [ ]:
#@title[7] Retrieve the last 5 rows of the dataset.

# Getting the last 5 rows
titanic_data.tail(5)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1304,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
1305,1306,0,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
1306,1307,1,3,"Saether, Mr. Simon Sivertsen",male,38.5,0,0,SOTON/O.Q. 3101262,7.2500,NaN,S
1307,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
1308,1309,1,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

In [ ]:
#@title [8] Locate the rows where the Survived value is 0 and display the PassengerId, Name, and Sex.

# Getting the passengers who did not survive
not_survived_passengers = titanic_data[titanic_data['Survived'] == 0]

# Getting their Passenger Id, Name, and Gender
id_name_sex = not_survived_passengers[['Id', 'Name', 'Sex']]

# Showing the filtered data
display(id_name_sex)

        Id                                             Name     Sex
0        1                          Braund, Mr. Owen Harris    male
4        5                         Allen, Mr. William Henry    male
5        6                                 Moran, Mr. James    male
6        7                          McCarthy, Mr. Timothy J    male
7        8                   Palsson, Master. Gosta Leonard    male
...    ...                                              ...     ...
1302  1303  Minahan, Mrs. William Edward (Lillian E Thorpe)  female
1303  1304                   Henriksson, Miss. Jenny Lovisa  female
1304  1305                               Spector, Mr. Woolf    male
1305  1306                     Oliva y Ocana, Dona. Fermina  female
1307  1308                              Ware, Mr. Frederick    male

[816 rows x 3 columns]

In [ ]:
#@title [9] Extract all unique values of the Embarked column.

# Getting all the unique values of the Embarked coloumn
titanic_data['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [47]:
#@title [10] Select the rows of passengers with a Fare greater than 50 and sort them in descending order by Fare.

# Filtering the Fare to find values above 50
fare_over_50 = titanic_data[titanic_data['Fare'] > 50]

# Arranging the dataframe in descending order
fare_over_50 = fare_over_50.sort_values('Fare', ascending=False)

# Showing the filtered data
display(fare_over_50)

,Id,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
258,259,1,1,"Ward, Miss. Anna",female,35.0,0,0,PC 17755,512.3292,NaN,C
679,680,1,1,"Cardeza, Mr. Thomas Drake Martinez",male,36.0,0,1,PC 17755,512.3292,B51 B53 B55,C
1234,1235,0,1,"Cardeza, Mrs. James Warburton Martinez (Charlo...",female,58.0,0,1,PC 17755,512.3292,B51 B53 B55,C
737,738,1,1,"Lesurer, Mr. Gustave J",male,35.0,0,0,PC 17755,512.3292,B101,C
944,945,0,1,"Fortune, Miss. Ethel Flora",female,28.0,3,2,19950,263.0000,C23 C25 C27,S
...,...,...,...,...,...,...,...,...,...,...,...,...
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
1247,1248,0,1,"Brown, Mrs. John Murray (Caroline Lane Lamson)",female,59.0,2,0,11769,51.4792,C101,S
571,572,1,1,"Appleton, Mrs. Edward Dale (Charlotte Lamson)",female,53.0,2,0,11769,51.4792,C101,S
867,868,0,1,"Roebling, Mr. Washington Augustus II",male,31.0,0,0,PC 17590,50.4958,A24,S
1057,1058,0,1,"Brandeis, Mr. Emil",male,48.0,0,0,PC 17591,50.4958,B10,C